name: Deploy Static Website

on:
  push:
    branches:
      - master

jobs:
  deploy-static-site:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v2

    # --- AWS AUTH VIA OIDC ---
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_IAM_ROLE_FOR_OIDC_ARN }}
        aws-region: ca-central-1

    # --- UPLOAD STATIC WEBSITE TO S3 ---
    - name: Upload static site to S3
      run: |
        echo "Uploading WebsiteTemplate/ to S3..."
        aws s3 sync WebsiteTemplate/ s3://static-website-bucket-resources-ken/ --delete
        echo "Static site upload complete."

    # --- CLOUDFRONT INVALIDATION ---
    - name: Invalidate CloudFront Cache
      run: |
        echo "Invalidating CloudFront index.html..."
        aws cloudfront create-invalidation \
          --distribution-id E2V9OOLD45N8XO \
          --paths "/index.html"
        echo "Invalidation complete."
